<mat-card class="second-card">
  <mat-card-header *ngIf="this.posts.length > 1">
    {{ this.posts.length }} secrets recorded
  </mat-card-header>
  <mat-card-header *ngIf="this.posts.length == 1">
    1 secret recorded
  </mat-card-header>
  <mat-card-header *ngIf="this.posts.length == 0"
    >No secrets recorded
  </mat-card-header>
  <mat-accordion multi>
    <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header
        >ID: {{ post.id
        }}<button
          mat-icon-button
          color="warn"
          aria-label="Example icon button with a delete icon"
        >
          <mat-icon>delete</mat-icon>
        </button></mat-expansion-panel-header
      >
      {{ post.content }}
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
