<mat-accordion multi *ngIf="this.posts.length > 0">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description *ngIf="this.posts.length > 1">
        {{ this.posts.length }} secrets recorded
      </mat-panel-description>
      <mat-panel-description *ngIf="this.posts.length == 1">
        1 secret recorded
      </mat-panel-description>
      <mat-panel-description *ngIf="this.posts.length == 0"
        >No secrets recorded
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul *ngFor="let post of posts">
      <li>{{ post }}</li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
