/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

app-root,
app-post,
app-postlist {
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(71 85 105);
}

mat-card {
  width: 100%;
  /* height: 100%; */
  background-color: unset;
  color: rgb(233, 137, 13);
}

.left-div {
  display: flex;
  flex-direction: column;
  width: 48%;
  /* height: 100%; */
  margin-left: auto;
  margin-right: auto;
}

.right-div {
  width: 50%;
  /* height: 100%; */
  margin-left: auto;
  margin-right: auto;
}

.main-div {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.submit-button {
  position: relative;
  left: 25%;
  right: 25%;
  width: 50%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 5rem;
}

a,
a:visited {
  text-decoration: none;
  color: unset;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

mat-card-header {
  margin: 4px;
}
