/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

app-root,
app-post,
app-postlist {
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(71 85 105);
}

mat-card {
  width: 100%;
  height: 100%;
  background-color: unset;
}

.left-div {
  display: flex;
  flex-direction: column;
  width: 48%;
  height: 100%;
  /* margin-left: auto;
  margin-right: auto; */
}

.right-div {
  width: 50%;
  height: 100%;
}

.main-div {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.submit-button {
  position: relative;
  width: 50%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 5rem;
}
